.footer{
  flex-direction: column;
  display: flex;
  width: 100%;
  background-color: $Terciary-Color;
  &__container{
    grid-template-columns: 1fr 1fr 300px 1fr;
    grid-template-rows: 1fr;
    display: grid;
    width: 950px;
    margin: 0 auto 30px auto;
    &--contact{
      grid-template-rows: 30px 50px 50px;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      display: grid;
      &-number{
        margin-bottom: 20px;
      }
      &-number, &-client{
        span{
          font-family: $Font-Text;
          font-size: $MPS;
          font-weight: bold;
        }
        p{
          font-family: $Font-Text;
          font-size: $SPSS;
        }
      }

    }
    &--info{
      grid-template-rows: 30px 50px 50px;
      grid-column: 2 / 3;
      display: grid;
      &-links{
        grid-row: 2 / 4;
        a{
          font-family: $Font-Text;
        }
      }
    }
    &--email{
      grid-template-rows: 30px 50px 50px;
      display: grid;
      &-input{
        position: relative;
        grid-row: 2 / 4;
        padding-top: 45px;
        span{
          position: absolute;
          display: flex;
          width: 250px;
          top: 0;
          font-family: $Font-Text;
        }
        .buttonEmail{
          height: 32px;
          padding-left: 10px;
          font-family: $Font-Text;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border: 1px solid $Quintiary-Color;
        }
        .buttonSendEmail{
          cursor: pointer;
          border: none;
          padding: 8px;
          color: $Primary-Color;
          font-family: $Font-Text;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          background-color: $Quintiary-Color;
        }
      }
    }
    &--social{
      grid-template-rows: 30px 50px 50px;
      text-align: center;
      display: grid;
      &-link{
        flex-direction: column;
        grid-row: 2 / 4;
        display: flex;
        gap: 10px;
        a{
          font-family: $Font-Text;
        }
      }
    }
  }
  &__copyright{
    text-align: center;    
    padding: 10px 0;
    color: $Primary-Color;
    background-color: $Quintiary-Color;
    p{
      font-family: $Font-Text;
    }
  }
}