@media (max-width: 950px){
  .header__nav{
    a{
      display: none;
    }
    &--burger{
      a{
        display: block;
      }
    }
  }
  .main__welcome{
    width: 100%;
    padding-left: 20px;
  }
  .main__description--background{
    .main__description{
      grid-template-columns: 0.8fr 1fr;
      width: 100%;
      padding: 0 20px;
    }
  }
  .main__courses{
    width: 100%;
    padding: 50px 20px;
  }
  .main__advantages{
    width: 100%;
    padding-right: 20px;
  }
  .main__services{
    width: 100%;
    padding: 0 20px;
    &--info{
      text-align: center;
    }
    &--cards{
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 500px;
      row-gap: 40px;
      column-gap: 50px;
    }
  }
  .main__memberships{
    padding: 80px 20px;
    &--container{
      justify-content: center;
      width: 100%;
      &-cards{
        width: 30%;
        .card__info{
          justify-content: space-between;
          height: 365px;
        }
        .card__advantages{
          height: 275px;
        }
      }
    }
  }
  .main__opinion{
    width: 100%;
    padding: 0 20px;
    &--opinions{
      justify-content: center;
      .card__opinion1, .card__opinion2, .card__opinion3{
        width: 30%;
      }
    }
  }
  .main__ending{
    &--quote{
      width: 100%;
    }
    &--image{
      width: 90%;
    }
  }
  .footer{
    &__container{
      grid-template-columns: 1fr 1fr 300px auto;
      width: 100%;
      padding: 0 25px;
    }
  }
}

@media (max-width: 850px){
  .main__description--background{
    .main__description{
      &--info{
        p{
          display: none;
        }
      }
    }
  }
}

@media  (max-width: 750px){
  .main__welcome{
    flex-direction: column;
    display: flex !important;
    padding: 30px 20px 0 20px;
    &--info{
      width: 500px;
      margin: 0 auto;
      h1, p{
        text-align: center;
        max-width: none;
      }
      button{
        width: 200px;
        height: 50px;
        margin: 0 auto;
      }
      &-svg{
        justify-content: center;
        p{
          text-align: left;
        }
      }
    }
    &--svg{
      padding: 0 30px;
    }
  }
  .main__description--background{
    .main__description{
      flex-direction: column;
      display: flex;
      padding: 0 20px;
      &--info{
        text-align: center;
        max-width: none;
        width: 100%;
        p{
          display: block;
        }
      }
    }
  }
  .main__advantages{
    flex-direction: column-reverse;
    display: flex;
    gap: 30px;
    padding: 0 20px 30px 20px;
    &--info{
      width: 500px;
      margin: 0 auto;
      h2{
        text-align: center;
      }
      &-svg{
        justify-content: center;
      }
    }
    &--svg{
      padding: 0 30px;
    }
  }
  .main__memberships{
    &--container{
      flex-wrap: wrap;
      &-cards{
        width: 310px;
        .card__info{
          height: 320px;
        }
        .card__advantages{
          height: 240px;
        }
      }
    }
  }
  .main__ending{
    &--span{
      &-link{
        margin-top: 60px;
      }
    }
  }
  .footer{
    &__container{
      grid-template-columns: 250px 250px;
      grid-template-rows: auto auto;
      justify-content: center;
      width: 100%;
      padding: 25px;
      margin: 0 auto;
      &--contact{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      &--social{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
      }
    }
  }
}

@media (max-width: 600px){
  .main__opinion{
    &--title{
      text-align: center;
    }
    &--opinions{
      flex-direction: column;
      align-items: center;
      .card__opinion1, .card__opinion2, .card__opinion3{
        width: 320px;
      }
    }
  }
  .main__ending{
    &--span{
      height: 90px;
      &-link{
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 530px){
  .main__welcome{
    &--info{
      h1, p{
        text-align: left;
      }
      button{
        margin: 0;
      }
      &-svg{
        justify-content: normal;
      }
    }
    &--svg{
      padding: 0;
    }
  }
  .main__description--background{
    .main__description{
      &--info{
        text-align: left;
      }
    }
  }
  .main__advantages{
    &--info{
      h2, p{
        text-align: left;
      }
      &-svg{
        justify-content: normal;
      }
    }
    &--svg{
      padding: 0;
    }
  }
  .main__services{
    &--cards{
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      &-card{
        flex-direction: column-reverse;
        display: flex;
        width: 320px;
        gap: 12px;
        &_img{
          img{
            border-radius: 0;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
          }
        }
        &_info{
          h3{
            border: 1px dotted $Quintiary-Color;
            padding-top: 10px;
          }
        }
      }
    }
  }
}