// Fonts
$Font-Title: 'Space Grotesk', sans-serif;
$Font-Text: 'Lato', sans-serif;

// Palatte Colors
$Primary-Color: #FFFFFF;
$Secondary-Color: #F5F0E5;
$Terciary-Color: #FFBF23;
$Quartiary-Color: #996E00;
$Quintiary-Color: #000000;
$Extra-Color: #c7c7c7;

// Backgrounds
$backgroundCard: rgba(0, 0, 0, 0.5);
$backgroundCardHover: rgba(0, 0, 0, 0.8);
$backgroundTrackScroll: rgba(0, 0, 0, 0.25);
$backgroundCardPrices: rgba(199, 199, 199, 0.5);

// Weight and Size Fonts
// Title size
$TS: 50px;
// Subtitle size
$SS: 38px;
// Primary Paragraph size
$PPS: 20px;
// Main paragraph size
$MPS: 16px;
// Secondary paragraph size
$SPSS: 14px;
// Weight Title Fonts
$WTF: 500;
// Weight Subtitle Fonts
$WSTF: 300;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

h1{
  font-family: $Font-Title;
  font-size: $TS;
}

h2{
  font-family: $Font-Title;
  font-size: $SS;
}

h3{
  font-family: $Font-Title;
  font-size: $PPS;
}

p, a, span, li{
  font-family: $Font-Text;
  font-weight: $WTF;
}

a{
  font-family: $Font-Text;
  color: #000000;
  text-decoration: none;
}

/* Global Classes */
.inactive{
  display: none;
}

